#palette {
	margin:0; padding:0; height: 14px; line-height: 12px; font-size: 12px;
}
#manager {
	margin:0; padding:0; height: 14px; line-height: 12px; font-size: 12px;
}
#mainselector {
	margin:0; padding:0; font-size: 10px;
}
#results {
	margin:0; padding:0; font-size: 10px;
}
#navigator img {
	border:0; width: 16px; height: 16px;
}
.label-info {
	margin: 5px; width: 150px;
}
.input-prepend .add-on {
	margin:0; width: 50px;
}
.circlecoord {
	width: 120px;
}
#SContainer {
	padding:0; border: 2px solid black; left: 95px; top: 120px; width: 245px; height: 335px; position: absolute; z-index: 100; background-color: rgb(238, 238, 238);
}
#transferM {
	padding: 10px; width: 680px;
}
#transferCode {
	height: 460px; font-size: 11px; word-break: break-all; word-wrap: break-word;
}
.carousel_annot {
	height: 40px; color: rgb(255, 255, 255); margin-top: -60px; opacity: 0.6; background-color: rgb(34, 34, 34);
}
.map_name {
	padding: 3px; border: 2px solid rgb(255, 255, 255); left: 360px; top: 54px; width: 400px; height: 30px; color: rgb(214, 214, 214); vertical-align: middle; position: absolute; z-index: 99; background-color: rgb(34, 34, 34);
}
.tab-content #navigator {
	padding:0; width: 243px; height: 245px; overflow: auto; z-index: 101;
}
.navbar {
	margin: 3px;
}
#YMHead {
	margin:0; padding:0; width: 243px; height: 25px; color: rgb(255, 255, 204); font-size: 10pt; vertical-align: middle; cursor: move; background-color: rgb(51, 102, 204);
}
#YMHead i {
	vertical-align: -40%; cursor: pointer;
}
address {
	margin-bottom: 6px;
}
.gis_menu_item a {
	color: rgb(0, 0, 0); text-decoration: none; cursor: pointer;
}
.menu_item a {
	color: rgb(0, 0, 0); text-decoration: none; cursor: pointer;
}
.gis_menu_item_sub .menu_item {
	border: 1px solid rgb(204, 204, 204); color: rgb(51, 0, 153); text-indent: 5px; background-color: rgb(221, 221, 221);
}
.gis_menu_item_sub {
	display: none;
}
.photo_comment {
	width: 128px; text-align: center; font-family: Tahoma; font-size: 8pt;
}
#gis_body {
	display: block;
}
.mg-btn-list {
	width: 200px; height: 55px; text-align: left; line-height: 10px; overflow: hidden; margin-left: 25px;
}
.mg-btn-list img {
	margin: 3px; width: 16px; height: 16px; float: left;
}

#ResultBody .btn-group:first-child {
	margin-left: 5px;
}
.foundlist {
	width: 99%; line-height: 4px; font-size: 8pt; margin-left: 2px; vertical-align: top;
}
.foundlist li {
	margin: 3px; padding: 2px; border: 1px solid rgb(102, 102, 102); height: 50px; line-height: 12px; overflow: hidden; cursor: pointer; background-color: rgb(255, 255, 255);
}
#YMapsID {
	outline: 1px solid rgb(214, 214, 214); width: 100%; height: 500px;
}
.frame-switcher {
	cursor: pointer;
}
.location_photo {
	width: 130px; text-align: center; margin-top: 10px; float: left;
}
.location_photo > img {
	border: 3px solid rgb(245, 237, 175); display: block;
}
.ymaps_balloon_iframed {
	color: rgb(0, 0, 0); line-height: 14px; padding-bottom: 15px; font-family: Tahoma; font-size: 9pt;
}
.ymaps_balloon {
	width: 350px; color: rgb(0, 0, 0); line-height: 14px; padding-bottom: 15px; font-family: Tahoma; font-size: 10pt;
}
.ymaps_balloon input {
	padding: 1px; height: 14px; line-height: 14px; font-size: 9pt;
}
.ymaps_balloon select {
	padding: 1px; height: 14px; line-height: 14px; font-size: 9pt;
}
.ymaps_balloonX {
	width: 450px; height: 315px;
}
.ymaps_balloonX button {
	margin-top: -2px;
}
.ymaps_balloonX input[type=text] {
	width: 350px; margin-top: -2px; margin-bottom:0;
}
.ymaps_balloonX textarea {
	margin-top: 4px; width: 435px;
}
#bal_name {
	margin-left: 20px;
}
#bal_addr {
	margin-left: 42px;
}
#bal_link {
	margin-left: 33px;
}
#locationImages {
	margin-left: 48px;
}
#locationImages img {
	margin-right: 2px;
}
.editx_label {
	font-weight: bolder; margin-left:0;
}
#uploadForm {
	height: 301px; overflow: auto;
}
.editXTA {
	width: 440px; height: 250px;
}
#uploadError {
	margin-top: 10px;
}
/* image modals */

#modal_pics {
	width:640px;
}
#modal_pics .modal-header {
	cursor: move; background-color: #d6d6d6
}
#modal_pics .modal-body {
	height:500px; overflow:hidden;
}

#imageList {
	height: 400px; display: table; vertical-align: middle;
}
#imageList li {
	border: 2px solid #f6f6f6; cursor: pointer; float: left; height: 128px; list-style-type: none; margin: 2px; padding: 0; text-align: center; width: 132px; padding-top: 2px;
}
#imageList li div {
	background-color: #000; bottom: 0; color: #ffffcc; font-size: 10px; font-weight: bold; height: 16px; margin-left: 2px; margin-right: -4px; margin-top: -24px; opacity: 0.6; overflow: hidden; padding: 4px; position: relative; text-align: right; width: 120px;
}
#imageList .active {
	border: 2px solid #0000E6;
}
#l_photo {
	margin-right: 4px; margin-bottom: 4px; width: 128px; height: 128px; float: left; cursor:pointer;
}
.ymaps_balloon .propertyContainer {
	clear: right; margin-top: 4px;
}
.ymaps_balloon .property {
	margin-right:10px; font-weight:bold; float:left;
}
.ymaps_balloon .link {
	clear: both; margin-top: 6px;
}
.sw_edit,
.sw-finish,
.sw-del {
	margin-right: 8px;
}
#searchFormToggle {
	opacity: 1
}
#imageM .modal-body{
	overflow:auto
}
#viewerM {
	width:630px !important;
}
#viewerM .modal-body{
	display: table-cell; text-align:center; vertical-align:middle; width:600px; height:500px; }
#viewerM .modal-body img{
	display: inline;
}
#frameActionSelector input[type=radio] {
	margin-top:-4px;
}

#newFrameName{
	margin-top:6px;
}
#frameListContainer {
	width: 100%; height:200px;padding:4px;overflow:auto;border-top:1px solid #D6D6D6;
}
#frameList {
	list-style-type:none;
}

#newMapName,
#firstFrameName {
	margin-top:6px;
}
.mapTypeSelector {
	margin-top: -4px !important;
}
.sortable { list-style-type: none; margin: 0; padding: 0; width: 90%; }
.sortable li { cursor: move; margin: 6px 3px 3px 3px; outline: 1px solid #D6D6D6; font-size: 12px; padding: 0; padding-left: 1em; height: 24px; }
.sortable li i { cursor: pointer !important; margin: 4px 3px 0 0 }
.frameHeader { cursor: pointer !important; padding: 6px 6px 6px 6px; }
.frameHeader:hover { color: #006699 }
