.DS_Store

install/*
cert/*

application/cache/*
application/config/*
application/cert/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

system/*
gisicons/*
scripts/*

application/views/cache/*
application/trashbin/*
uploads/*
jscript/*
jqueryui/*
bootstrap/*
images/*
freehandcache/*
captcha/*
storage/*